@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
}

<footer>
    <div class="container">
        <div class="row footer-row">
            <div class="footer-tentangkami-bisnis">
                <div class="footer-tentangkami" data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".footer-row">
                    @if (homePage != null)
                    {
                        <h3>@homePage.FooterTentangTitle</h3>
                    }
                    <div class="footer-list">
                        @foreach (var item in homePage.FooterTentangLinks)
                        {
                            <p><a href="@item.Url">@item.Name</a></p>
                        }
                    </div>
                </div>

                <div class="footer-bisnis" data-aos="fade-up" data-aos-delay="400" data-aos-anchor=".footer-row">
                    <h3>@homePage.FooterBisnisTitle</h3>
                    <div class="footer-list">
                        @foreach (var item in homePage.FooterBisnisLinks)
                        {
                            <p><a href="@item.Url">@item.Name</a></p>
                        }
                    </div>
                </div>

            </div>

            <div class="footer-lainnya" data-aos="fade-up" data-aos-delay="600" data-aos-anchor=".footer-row">
                <h3>@homePage.FooterLainnyaTitle</h3>
                <div class="footer-list">
                    @foreach (var item in homePage.FooterLainnyaLinks)
                    {
                        <p><a href="@item.Url">@item.Name</a></p>
                    }
                </div>
                <div class="social-media">
                    <h4>@homePage.FooterSocmedTitle</h4>
                    <div class="socmed-item">
                        <a href="@homePage.LinkSocmedFacebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="@homePage.LinkSocmedInstagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="@homePage.LinkSocmedTwitter"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer-kontak" data-aos="fade-up" data-aos-delay="800" data-aos-anchor=".footer-row">
                <h3>@homePage.FooterKontakTitle</h3>
                <div class="footer-list">
                    <div class="d-flex">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>@homePage.FooterKontakAddress</p>
                    </div>

                    <div class="d-flex">
                        <i class="fa-regular fa-envelope"></i>
                        <p>@homePage.FooterKontakEmail</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-phone"></i>
                        <p>@homePage.FooterKontakNohp</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <img src="/images/pertamina-warnawarni.png" class="pertamina-warnawarni">
</footer>
<div class="copyright">
    <div class="container">
        <p>@homePage.FooterCopyright</p>
    </div>
</div>