@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using Umbraco.Web.Models;


@{
    var selection = Umbraco.Content(Guid.Parse("63184ab7-8b47-4f7a-9904-bf3c815abad3"))
    .Children()
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
    
}

@if (selection != null){

<div class="container slider-container " data-aos="fade-up">
    <div class="laporantahunan-slider swiper">
        <div class="berita-head">
            <img src="/images/vector-network.svg">
            @{
                if(Model.Value<Link>("linkToLaporan") != null){
                    var link = Model.Value<Link>("linkTolaporan");
                    <a href='@link.Url'>
                        <h2>@Umbraco.GetDictionaryValue("judul laporan")</h2>
                    </a>
                }else{
                    <h2>@Umbraco.GetDictionaryValue("judul laporan")</h2>
                }
            }
        </div>
        <div class="swiper-wrapper">
            @if (selection != null)
            {
                foreach (var item in selection)
                {
                    <div class="swiper-slide">
                        <a href="@item.Url()" class="slider-card-link">
                            @{
                                var image = item.Value<IPublishedContent>("NewsImage");
                            }
                            <div class="slider-card" style='background-image: url(@image.Url())'>
                                <div class="slider-date">
                                    <h6>@(item.Value<DateTime>("NewsPostDate").ToString("dd - MM - yyyy"))</h6>
                                </div>
                                <div class="slider-content">
                                    <h3>@item.Value("NewsShortTitle")</h3>
                                    <span>@Umbraco.GetDictionaryValue("lihat selengkapnya")
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                </div>
                                <div class="bg-gradient-biru"></div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <div>
            <img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
        </div>
        <div>
            <img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
        </div>

        @if (selection == null || !selection.Any())
        {
            <div class="item-kosong">
				<h3 class="text-center">@Umbraco.GetDictionaryValue("item kosong laporan")</h3>
			</div>
        }
    </div>
</div>

}