@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AboutPetrokimiaPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<div class="tentang-jumbotron">
	<img src="@Model.HeroBackgroundImage.Url()" class="blueprint">
	
	<div class="container-fluid content">
		<h1>@Model.HeroTitle</h1>
		<h2>@Model.HeroSubtitle</h2>
	</div>
</div>
<div class="bisnis-navbar">
	<div class="container bisnis-navbar-list">

		@Html.Partial("~/Views/Partials/navbarBusiness.cshtml")
		<div class="bisnis-navbar-arrowdown" id="bisnis-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>

<div class="container rich-text-content">
	<img src="@Model.TentangPetrokimiaContentImage1.Url()" class="rich-float-left w-50">
	<h3>@Model.TentangPetrokimiaContentTitle</h3>
	<p>@Model.TentangPetrokimiaContent</p>
	<img src="@Model.TentangPetrokimiaContentImage2.Url()" class="">
</div>
<div style="background-image:url('@Model.PeranBackgroundImage.Url()')" class="peran-wrapper">
	<div class="container container-peran">
		<h4>@Model.PeranTitle</h4>
		<div class="peran-grid">
			@foreach (var item in Model.PeranList)
			{
				<div class="peran-list">
					<div class="gambar">
						<img src="@item.PeranImage.Url()">
					</div>
					<div class="konten">
						<p>@item.PeranContent</p>
					</div>
				</div>
			}

		</div>
	</div>
</div>