@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.CareerPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<div class="tentang-jumbotron">
	<div
		style="background-image: url('@Model.HeroBackgroundImage.Url()'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
		<div class="container content">
			<h1>@Model.HeroTitle</h1>
		</div>
	</div>
</div>

<div class="container container-karir rich-text-content" data-aos="fade-up">
	<h4>@Model.CareerContent1TitleHijau</h4>
	<h3>@Model.CareerContent1Title</h3>
	<!-- <img src="Model.CareerContent1Image.Url()" class="rich-float-right w-50"> -->
	<div>
		<p>@Model.CareerContent1</p>
	</div>
	@* <h4 class="mt-5">@Model.CareerContent2TitleHijau</h4> *@

	@if ( Model.CareerListItem.Count() < 1){
		<div class="item-kosong mt-5" style="text-align: center;">
			<h3>@Model.CareerListEmptyMessage</h3>
		</div>
	}
	
	@if (Model.CareerListItem != null && Model.CareerListItem.Count() > 0)
	{
	    <h3 class="mt-5">@Model.CareerContent2Title</h3>
    	<!-- <p>Model.CareerContent2</p> -->
    	<div class="table-wrapper my-3 container">
    		<table class="w-100" id="tableKarir">
    				<thead class="text-white">
    					<tr>
    					<th scope="col" class="w-25"><div class="px-3 py-3 mx-2 w-full bg-green text-center rounded me-3">@Model.CareerListLabelPosisi</div></th>
    					<th scope="col" class="w-25"><div class="px-3 py-3 mx-2 w-full bg-green text-center rounded">@Model.CareerListLabelLokasi</div></th>
    					<th scope="col" class="w-25"><div class="px-3 py-3 mx-2 w-full bg-green text-center rounded">@Model.CareerListLabelFungsi</div></th>
    					<th scope="col"class="w-25"></th>
    					</tr>
    				</thead>
    				<tbody class="body-table-karir">
						@{
							var indexCareerListItem = 0;
						}
    				    @foreach (var item in Model.CareerListItem)
    			        {
    			            <tr>
    			                <th scope="row">
            						<div class="karir-td px-3 m-2 py-3 w-full border-green text-center rounded me-3 fw-bold text-primary" style="">
										<p class="text-center m-0">@item.KarirListPosisi</p>
									</div>
            					</th>
            					<td>
            						<div class="karir-td px-3 m-2 py-3 w-full border-green text-center rounded me-3 fw-bold text-primary" style="">
										<p class="text-center m-0">@item.KarirListLokasi</p>
									</div>
            					</td>
            					<td>
            						<div class="karir-td px-3 m-2 py-3 w-full border-green text-center rounded me-3 fw-bold text-primary" style="">
										<p class="text-center m-0">@item.KarirListFungsi</p>
									</div>
            					</td>
            					<td>
									<div class="px-3 m-2 py-3 w-full text-center rounded me-3 fw-bold text-white bg-biruPRPP pointer" data-toggle="collapse" data-target="#collapse-@indexCareerListItem" aria-expanded="false" aria-controls="collapse-@indexCareerListItem">@Model.CareerListLabelKeterangan</div>
									@* <div id="collapse-@indexCareerListItem" class="collapse" aria-labelledby="heading-@indexCareerListItem" data-parent="#tableKarir">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div> *@
								</td>
    			            </tr>
							@* <tr>
								<td colspan="3">
									<div id="collapse-@indexCareerListItem" class="klasifikasi collapse bg-biruPRPP p-3 w-full text-white fw-bold m-2 rounded" data-parent="#tableKarir">
										<h2 class="text-center">@Model.CareerListLabelKlasifikasi</h2>
										@item.KarirListKeterangan
									</div>
								</td>
							</tr> *@

							indexCareerListItem++;
    			        }
    				</tbody>
    		</table>
        </div>
	}
</div>

<div id="data-tableKarir" style="display: none;">
	<p class="label-klasifikasi">@Model.CareerListLabelKlasifikasi</p>
	<div class="data-list">
		@foreach (var item in Model.CareerListItem)
		{
			<div class="data-item">@item.KarirListKeterangan</div>
		}
	</div>
</div>

<!-- ==================== -->
<!-- === KARIR BANNER === -->
<!-- ==================== -->

@* <div class="fluid-container home-karir d-flex " data-aos="fade-up">
	<div class="home-karir-vektor">
		<img src="/images/mekanik.png" class="mekanik">
		<img src="/images/rumput.png" class="rumput">
	</div>
	<div class="row-home-karir-konten-lihat">
		<div class="home-karir-konten align-self-center">
			<h2>@Model.CareerBannerSubtitle</h2>
			<h3>@Model.CareerBannerTitle</h3>
		</div>
		<div class="home-karir-lihat align-self-center">
			@if (Model.CareerBannerLink != null)
			{
				<a href="@Model.CareerBannerLink.Url">@Model.CareerBannerLink.Name <i
						class="fa-solid fa-arrow-right"></i></a>
			}
		</div>
	</div>
</div> *@

<!-- MODAL -->
@* *@

	@* <div class="modal fade" id="karir-keterangan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body body-karir-keterangan text-white bg-primary">
					<h4>Kualifikasi</h4>
					<p>Analyst HR, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
					totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, 
					explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, 
					qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum,</p>
				</div>
			</div>
		</div>
	</div> *@
