@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.CareerPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="tentang-jumbotron">
	<img src="@Model.HeroBackgroundImage.Url()" class="blueprint">

	<div class="container-fluid content">
		<h1>@Model.HeroTitle</h1>
		@*<h2>@Model.HeroSubtitle</h2>*@
	</div>
</div>

<div class="container container-karir rich-text-content">
	<h4>@Model.CareerContent1TitleHijau</h4>
	<h3>@Model.CareerContent1Title</h3>
	<p>@Model.CareerContent1</p>
	<img src="@Model.CareerContent1Image.Url()" class="w-100">
	<h4>@Model.CareerContent2TitleHijau</h4>
	<h3>@Model.CareerContent2Title</h3>
	<p>@Model.CareerContent2</p>
</div>


<div class="fluid-container home-karir d-flex " data-aos="fade-up">
	<div class="home-karir-vektor">
		<img src="/images/mekanik.png" class="mekanik">
		<img src="/images/rumput.png" class="rumput">
	</div>
	<div class="row-home-karir-konten-lihat">
		<div class="home-karir-konten align-self-center">
			<h2>@Model.CareerBannerSubtitle</h2>
			<h3>@Model.CareerBannerTitle</h3>
		</div>
		<div class="home-karir-lihat align-self-center">
			@if (Model.CareerBannerLink != null)
			{
				<a href="@Model.CareerBannerLink.Url">@Model.CareerBannerLink.Name <i
						class="fa-solid fa-arrow-right"></i></a>
			}
		</div>
	</div>

	@* *@
</div>