@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GovernanceAndBusinessEthicsPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="tentang-jumbotron">
	<div
		style="background-image: url('@Model.HeroBackgroundImage.Url()'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
		<div class="container content">
			<h1>@Model.HeroTitle</h1>
		</div>
	</div>
</div>
<div class="bisnis-navbar">
	<div class="container bisnis-navbar-list">

		@Html.Partial("~/Views/Partials/navbarResponsibility.cshtml")
		<div class="bisnis-navbar-arrowdown" id="bisnis-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>



    <div class="container container-tata-kelola rich-text-content d-flex justify-content-between" data-aos="fade-up">
        <div class="w-50 me-3">
            <h4>@Model.GovernanceContentTitle</h4>
            <p>@Model.GovernanceContentText</p>
        </div>
        <div class="w-50 ms-3" data-aos="fade-up">
            <img src="/images/etika-bisnis-img.png" alt="ethics code">
        </div>
    </div>
    
    <div class="container container-kode-etik" data-aos="fade-up">
        <div class="ethics-code-wrapper">
            <p>@Model.EthicsCodeDescription</p>
        </div>

        <div class="ethics-code-list-wrapper">
		@foreach (var item in Model.EthicsCodeList){
			<div class="ethics-code-list" data-aos="fade-up">
                <div class="gambar">
                    <img src="@item.EthicsCodeImage.Url()" alt="ethics code">
                </div>
                <div class="konten">
                    <p>@item.EthicsCodeContent</p>
                </div>
            </div>
		}
        </div>

       <hr class="text-secondary my-5" />
       <!-- MASIH HARDCODE -->
       <div class="d-flex justify-content-between" style="gap:1rem">
            <div class="w-50 me-3" data-aos="fade-up">
                <img src="/images/etik-bisnis-img-2.png" style="width:100%" alt="ethics code">
            </div>
            <div class="w-50 ms-3" data-aos="fade-up">
                <h5 class="text-green" style="color:#AEC23C">Pendoman Kepatuhan</h5>
                <p>
                    Untuk Mendukung kepatuhan etika bisnis yang menyeluruh dalam rangka mewujudkan kinerja unggul perusahaan telha menyusun sistem data tata kelola kepatuhan yang komperhensif .
                    <br/>
                    <br/>
                    Detail Prinsip-prinsip kepatuhan serta tujuan kami dalam menerapkan etika bisnis telah di tuangkan dalam kebijakan yang relevant.
                </p>
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>1. Kebijakan Anti Korupsi</p>
                        <div class="d-flex justify-content-between align-items-center px-3 py-1 border border-primary rounded rounded-3 text-primary pointer" style="width:35%">
                            <div>Download File</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download text-primary" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>2. Kebijakan Informasi </p>
                        <div class="d-flex justify-content-between align-items-center px-3 py-1 border border-primary rounded rounded-3 text-primary pointer" style="width:35%">
                            <div>Download File</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download text-primary" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>3. Kebijakan Kerahasiaan</p>
                        <div class="d-flex justify-content-between align-items-center px-3 py-1 border border-primary rounded rounded-3 text-primary pointer" style="width:35%">
                            <div>Download File</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download text-primary" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>4. Kebijakan Data Personal</p>
                        <div class="d-flex justify-content-between align-items-center px-3 py-1 border border-primary rounded rounded-3 text-primary pointer" style="width:35%">
                            <div>Download File</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download text-primary" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>5. Pendoman Whisttleblowing</p>
                        <div class="d-flex justify-content-between align-items-center px-3 py-1 border border-primary rounded rounded-3 text-primary pointer" style="width:35%">
                            <div>Download File</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download text-primary" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
       </div>
	<div class="my-3" style="color:white">batas</div>
       <div class="d-flex jusfity-content-between" style="gap:1rem">
            <div class="w-50 me-3" data-aos="fade-up">
                <h5 class="text-green" style="color:#AEC23C">Whistleblowing System</h5>
                <p>
                    Dalam rangka untuk menajaka komitmen tersebut, PRPP menyediakan layanan pengaduan jika terindikasi adanya pelanggaran yang terjadi di linkungan kerja PRPP melalui whisttleblowing system. PRPP menjamin kerahasiaan data pribadi dan isi laporan yang di sampaikan oleh pelapor. 
                    <br/>
                    <br/>
                    Pengaduan tersebut dapat dikirimkan melalui :
                    <span>
                        <ul>
                            <li>SMS ke (62+ 08119307768)</li>
                            <li>Laporan dengan surat fisik dapat dikirimkan ke alamat : Sopo Dell Office Tower A, 39th Floor. JL. Mega Kuningan Barat III, Lot 10.1-6. Jakarta Selatan, Indonesia 12950 </li>
                            <li>Email : hotlineprpp@pertamina.com</li>
                        </ul>             
                    </span> 
                </p>
            </div>
            <div class="w-50 ms-3" data-aos="fade-up">
                <img src="/images/etik-bisnis-img-3.png" style="width:100%" alt="ethics code">
            </div>

       </div>
    </div>
