@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="home-main-slider">
	<div class="swiper-home-main-slider swiper">
		<div class="swiper-wrapper">
			@if (Model.HomeMainSlider != null)
			{
				foreach (var item in Model.HomeMainSlider)
				{
					<div class="swiper-slide  home-main-slider-bg"
				style="background-image: url('@item.SliderBackgroundImage.Url()');">
						<div class="fluid-container home-main-slider-content">
							<h1>@item.SliderTitle</h1>
							<h2>@item.SliderSubtitle</h2>
							@if (item.SliderLink != null)
							{
								<a href="@item.SliderLink.Url">@item.SliderLink.Name</a>
							}
						</div>
					</div>
				}
			}
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<div class="fluid-container px-5 home-tentang">
	<div class="row home-tentang-row">
		<div class="home-tentang-gambar col-md-6" data-aos="fade-right">
			<img src="@Model.TentangGambar.Url()" class="home-tentang-pabrik">
		</div>
		<div class="home-tentang-content col-md-6" data-aos="fade-left">
			<h3>@Model.TentangTitleHijau</h3>
			<h2>@Model.TentangTitle</h2>
			<p>@Model.TentangContent</p>
			@if (Model.TentangLink != null)
			{
				<a href="@Model.TentangLink.Url">@Model.TentangLink.Name<i class="fa-solid fa-arrow-right"></i></a>
			}
		</div>
	</div>
</div>

<div class="swiper container mx-auto home-bisnis" data-aos="fade-up">
	<div class="home-bisnis-head">
		<h2>@Model.BisnisTitle</h2>
		<p>@Model.BisnisDescription</p>
	</div>
	<div class="swiper-wrapper">
		@if (Model.BisnisCards != null)
		{

			foreach (var item in Model.BisnisCards)
			{
				<div class="swiper-slide @item.CardBisnisColor">
					<div class="item text-center">
						<div class="gambar">
							@if (item.CardBisnisImage != null)
							{
								<img src="@item.CardBisnisImage.Url()" alt="@item.CardBisnisImage.Name">
							}
						</div>
						@if (item.CardBisnisColor != null)
						{
							var pickedColor = item.CardBisnisColor;

							switch (pickedColor)
							{
								case "aec23c":
									<a href="@item.CardBisnisLink.Url" class="hijau-prpp">@item.CardBisnisLink.Name</a>
									break;
								case "ed323d":
									<a href="@item.CardBisnisLink.Url" class="merah-prpp">@item.CardBisnisLink.Name</a>
									break;
								case "0070b8":
									<a href="@item.CardBisnisLink.Url" class="hijau-prpp">@item.CardBisnisLink.Name</a>
									break;
								case "cd9933":
									<a href="@item.CardBisnisLink.Url" class="coklat-prpp">@item.CardBisnisLink.Name</a>
									break;

								default:
									break;
							}
						}

					</div>
				</div>
			}
		}
	</div>
	<div>
		<img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
	</div>
	<div>
		<img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
	</div>
</div>
<div class="background-hijau">
	@* <img src="/images/pertamina-warnawarni.png" class="pertamina-warnawarni"> *@
</div>


<div class="swiper container home-media" data-aos="fade-up">
	<div class="home-media-head">
		<h2>@Model.MediaTitle</h2>
		<p>@Model.MediaDescription</p>
	</div>
	<div class="swiper-wrapper  ">
		@if (Model.MediaCards != null)
		{
			foreach (var item in Model.MediaCards)
			{
				<div class="swiper-slide">
					<div class="item text-center">
						<div class="gambar">
							@if (item.CardMediaImage != null)
							{
								<img src="@item.CardMediaImage.Url()">
							}

						</div>
						<p>@item.CardMediaDescription</p>

						@{
							var pickedColor = item.CardMediaColor;
						}

						@switch (pickedColor)
						{
							case "aec23c":
								<a href="@item.CardMediaLink.Url" class="hijau-prpp">@item.CardMediaLink.Name</a>
								break;
							case "ed323d":
								<a href="@item.CardMediaLink.Url" class="merah-prpp">@item.CardMediaLink.Name</a>
								break;
							case "0070b8":
								<a href="@item.CardMediaLink.Url" class="hijau-prpp">@item.CardMediaLink.Name</a>
								break;
							case "cd9933":
								<a href="@item.CardMediaLink.Url" class="coklat-prpp">@item.CardMediaLink.Name</a>
								break;

							default:
								break;
						}
					</div>
				</div>
			}
		}
	</div>

	<div>
		<img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
	</div>
	<div>
		<img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
	</div>

</div>

<div class="swiper container home-tanggungjawab" id="hometanggungjawab" data-aos="fade-up">
	<div class="home-tanggungjawab-head">
		<h2>@Model.TanggungjawabTitle</h2>
		<p>@Model.TanggungjawabDescription</p>
	</div>
	<div class="swiper-wrapper">
		@if (Model.TanggungjawabCards != null)
		{
			foreach (var item in Model.TanggungjawabCards)
			{
				<div class="swiper-slide">
					<div class="item" style="background-color: #@item.CardTanggungjawabColor">
						<div class="gambar text-center ">
							@if (item.CardTanggungjawabImage != null)
							{
								<img src="@item.CardTanggungjawabImage.Url()">
							}
						</div>
						<h3>@item.CardTanggungjawabTitle</h3>
						<p>@item.CardTanggungjawabDescription</p>
					</div>
				</div>
			}
		}

	</div>
	<div>
		<img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
	</div>
	<div>
		<img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
	</div>
</div>
<div class="background-pabrik">
	<div>
		<div class="background-gambarpabrik"></div>
		<div class="background-pabrikbiru"></div>
	</div>
	@* <img src="/images/pertamina-warnawarni.png" class="pertamina-warnawarni"> *@
</div>

<div class="swiper container home-pengadaan" id="homepengadaan" data-aos="fade-up">
	<div class="home-pengadaan-head">
		<h2>@Model.PengadaanTitle</h2>
		<p>@Model.PengadaanDescription</p>
	</div>
	<div class="swiper-wrapper">
		@if (Model.PengadaanCards != null)
		{
			foreach (var item in Model.PengadaanCards)
			{
				<div class="swiper-slide">
					<div class="item" style="background-color: #@item.CardPengadaanColor;">
						<div class="gambar text-center ">
							@if (item.CardPengadaanImage != null)
							{
								<img src="@item.CardPengadaanImage.Url()">
							}
						</div>
						<h3>@item.CardPengadaanTitle</h3>
						<p>@item.CardPengadaanDescription</p>
						@if (item.CardPengadaanLink != null)
						{
							<a href="@item.CardPengadaanLink.Url">@item.CardPengadaanLink.Name<i
						class="fa-solid fa-arrow-right"></i></a>
						}
					</div>
				</div>
			}
		}

	</div>
	<div>
		<img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
	</div>
	<div>
		<img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
	</div>
</div>

<div class="fluid-container home-karir d-flex " data-aos="fade-up">
	<div class="home-karir-vektor">
		<img src="/images/mekanik.png" class="mekanik">
		<img src="/images/rumput.png" class="rumput">
	</div>
	<div class="row-home-karir-konten-lihat">
		<div class="home-karir-konten align-self-center">
			<h2>@Model.KarirSubtitle</h2>
			<h3>@Model.KarirTitle</h3>
		</div>
		<div class="home-karir-lihat align-self-center">
			@if (Model.KarirLink != null)
			{
				<a href="@Model.KarirLink.Url">@Model.KarirLink.Name <i class="fa-solid fa-arrow-right"></i></a>
			}
		</div>
	</div>

	@* <img src="/images/pertamina-warnawarni.png" class="pertamina-warnawarni"> *@
</div>
