@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HssePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}


<div class="tentang-jumbotron">
    <img src="@Model.HeroBackgroundImage.Url()" class="blueprint">

    <div class="container-fluid content">
        <h1>@Model.HeroTitle</h1>
        @*<h2>@Model.HeroSubtitle</h2>*@
    </div>
</div>
<div class="bisnis-navbar">
    <div class="container bisnis-navbar-list">

        @Html.Partial("~/Views/Partials/navbarResponsibility.cshtml")
        <div class="bisnis-navbar-arrowdown" id="bisnis-navbar-arrowdown">
            <a class="active">@Model.Name</a>
            <i class="fa-solid fa-chevron-down panah-bawah"></i>
            <i class="fa-solid fa-chevron-up panah-atas"></i>
        </div>
    </div>
</div>

<div class="container rich-text-content">
    <img src="@Model.HsseContentImage.Url()" class="rich-float-left w-50">
    <p>@Model.HsseContent</p>
</div>


<div style="background-image: url('@Model.HsseBackgroundImage.Url()')" class="hsse-wrapper">
    <div class="container">
        <div class="hsse-title">
            <h4 class="hsse-title-english">@Model.HsseTitle</h4>
        </div>
<<<<<<< HEAD
		
		<div class="hsse-quotes hsse-quotes-indonesia">
            <h5>@Model.HsseQuotesTitle</h5>
            <h5>@Model.HsseQuotesText</h5>
=======
        <div class="hsse-quotes hsse-quotes-indonesia">
            <h5>@Model.HsseQuotesTitleIndonesia</h5>
            <h5>@Model.HsseQuotesTextIndonesia</h5>
        </div>

        <div class="hsse-quotes hsse-quotes-indonesia">
            <h5>@Model.HsseQuotesTitleEnglish</h5>
            <h5>@Model.HsseQuotesTextEnglish</h5>
>>>>>>> 8ef537c09afe3fab56de9fe8e07486ae19feafed
        </div>
		
        <div class="hsse-structure">
            <h6>@Model.HsseStructureTitle</h6>
            <img src="@Model.HsseStructureImage.Url()">
        </div>
    </div>
</div>