@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ManagementsPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="tentang-jumbotron">
	<div
		style="background-image: url('@Model.HeroBackgroundImage.Url()'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
		<div class="container content">
			<h1>@Model.HeroTitle</h1>
		</div>
	</div>
</div>
<div class="tentang-navbar">
	<div class="container tentang-navbar-list">

		@Html.Partial("~/Views/Partials/navbarAbout.cshtml")
		<div class="tentang-navbar-arrowdown" id="tentang-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>

<div class="container manajemen-menu">
	<button class="pilih-manajemen active" id="tombol-direksi">@Umbraco.GetDictionaryValue("button direksi")</button>
	<button class="pilih-manajemen" id="tombol-komisaris">@Umbraco.GetDictionaryValue("button komisaris")</button>
</div>


<div class="container-fluid tentang-manajemen tentang-manajemen-direksi" data-aos="fade-up" id="direksi">
	<div class="swiper swiper-manajemen-container">
		<div class="swiper-wrapper">
			@if (Model.ManagementsDirector != null)
			{
				foreach (var item in Model.ManagementsDirector)
				{
					<div class="swiper-slide">
						<div class="manajemen-container container">
							<div class="manajemen-content">
								<div class="manajemen-head">
									<h4>@item.ManagementPosition</h4>
									<h3>@item.ManagementName</h3>
								</div>
								<div class="manajemen-body">
									@item.ManagementContent
								</div>
							</div>
							<div class="manajemen-gambar">
								@if (item.ManagementImage != null)
								{
									<img src="@item.ManagementImage.Url()" alt="@item.ManagementName">
								}
							</div>
						</div>
					</div>
				}
			}

		</div>
		<div>
			<img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
		</div>
		<div>
			<img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
		</div>
		<div class="bapakbapak-list">
			<div class="container mx-auto">
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>




<div class="container-fluid tentang-manajemen tentang-manajemen-komisaris" data-aos="fade-up" id="komisaris">
	<div class="swiper swiper-manajemen-container-2">
		<div class="swiper-wrapper">
			@if (Model.ManagementsCommisioner != null)
			{
				foreach (var item in Model.ManagementsCommisioner)
				{
					<div class="swiper-slide">
						<div class="manajemen-container container">
							<div class="manajemen-content">
								<div class="manajemen-head">
									<h4>@item.ManagementPosition</h4>
									<h3>@item.ManagementName</h3>
								</div>
								<div class="manajemen-body">
									@item.ManagementContent
								</div>
							</div>
							<div class="manajemen-gambar">
								@if (item.ManagementImage != null)
								{
									<img src="@item.ManagementImage.Url()" alt="@item.ManagementName">
								}
							</div>
						</div>
					</div>
				}
			}

		</div>
		<div>
			<img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
		</div>
		<div>
			<img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
		</div>
		<div class="bapakbapak-list">
			<div class="container mx-auto">
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>
