@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<div class="tentang-jumbotron">
	<div
		style="background-image: url('@Model.HeroBackgroundImage.Url()'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
		<div class="container content">
			<h1>@Model.HeroTitle</h1>
		</div>
	</div>
</div>

@if (string.IsNullOrWhiteSpace(Model.BeritaContentTitle) == false)
{
	<div class="pengadaan-wrapper">
		<div class="container rich-text-content">

			<h4>@Model.BeritaContentTitle</h4>
			<p>@Model.BeritaContentText</p>

		</div>
	</div>
}


@Html.Partial("~/Views/Partials/listBeritaVertikal.cshtml")