@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.OurProjectsPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="tentang-jumbotron">
	<div
		style="background-image: url('@Model.HeroBackgroundImage.Url()'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
		<div class="container content">
			<h1>@Model.HeroTitle</h1>
		</div>
	</div>
</div>
<div class="bisnis-navbar">
	<div class="container bisnis-navbar-list">

		@Html.Partial("~/Views/Partials/navbarBusiness.cshtml")
		<div class="bisnis-navbar-arrowdown" id="bisnis-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>

<!-- <div class="container rich-text-content" data-aos="fade-up">
	<h3>@Model.ProjectsLocationContentTitle</h3>
	<p>@Model.ProjectsLocationContent</p>
</div> -->

<div class="container container-projects-image" data-aos="fade-up">
	<img class="project-location" src="@Model.ProjectsLocation.Url()">
	<!-- <img src="@Model.ProjectsFeatures.Url()"> -->
</div>

<div class="bg-gray my-5 p-3 d-flex flex-column justify-content-between align-items-center container-licensor">
	<h3 class="text-green text-center">@Model.OurProjectLicensorAssociatedTitle</h3>
	<div class="our-project-slider-upper swiper container py-5">
		<div class="swiper-wrapper align-items-center">
				@if (Model.OurProjectLicensorAssociatedList != null)
				{
				    foreach (var item in Model.OurProjectLicensorAssociatedList)
				    {
				        var mediaImage = item.Value<MediaWithCrops>("LicensorAssociatedImage");
				        
				        <div class="swiper-slide">
        					<div class="item text-center">
        						<div class="gambar">
        								<img width="40%" src="@mediaImage.MediaUrl()">
        						</div>
        					</div>
        				</div>
				    }
				}
		</div>
        <div>
            <img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
        </div>
        <div>
            <img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
        </div>
		<div class="swiper-pagination mt-5"></div>		
	</div>
</div>

<div class="container container-third-parties mt-5" data-aos="fade-up">
	<h3 class="text-green text-center">@Model.OurProjectCompletedInvolvementTitle</div>
	<div class="our-project-slider-lower swiper container py-5">
		<div class="swiper-wrapper align-items-center">
		        @if (Model.OurProjectCompletedInvolvementList != null)
				{
				    foreach (var item in Model.OurProjectCompletedInvolvementList)
				    {
				        var mediaImage = item.Value<MediaWithCrops>("CompletedInvolvementImage");
				        
				        <div class="swiper-slide">
        					<div class="bg-gray rounded py-3 px-1 text-center d-flex flex-column align-items-center justify-content-center" style="aspect-ratio: 1/1;">
        						<div class="gambar">
        								<img width="40%" src="@mediaImage.MediaUrl()">
        						</div>
        					</div>
        				</div>
				    }
				}
		</div>
        <div>
            <img src="/images/tombol-kiri.svg" class="swiper-button-prev" style="--swiper-navigation-size: 100px">
        </div>
        <div>
            <img src="/images/tombol-kanan.svg" class="swiper-button-next" style="--swiper-navigation-size: 100px">
        </div>
		<div class="swiper-pagination mt-5"></div>		
	</div>
</div>

<div class="container container-engineering-activities my-5" data-aos="fade-up">
	<h3 class="text-green">@Model.OurProjectEngineeringTitle</h3>
	<p>@Model.OurProjectEngineeringContent</p>
	<div class="d-flex justify-content-between align-items-end">
		<div style="width:49%;position:relative">
		    @{
		        var mediaEngineeringImageLeft = Model.Value<MediaWithCrops>("OurProjectEngineeringImageLeft");
		    }
			<img width="100%" src="@mediaEngineeringImageLeft.MediaUrl()" alt="">
			<div class="gradient-container w-100 h-100 d-flex flex-column align-items-center justify-content-end p-3 fw-bold" style="position:absolute;bottom:0;left:0;z-index:2;background: url(/images/our-project-gradient.png)center bottom no-repeat; background-size: 100%;">
				@Model.OurProjectEngineeringImageLeftTitle
			</div>
		</div>
		<div style="width:49%;position:relative">
		    @{
		        var mediaEngineeringImageRight = Model.Value<MediaWithCrops>("OurProjectEngineeringImageRight");
		    }
			<img width="100%" src="@mediaEngineeringImageRight.MediaUrl()" alt="">
			<div class="gradient-container w-100 h-100 text-center d-flex flex-column align-items-center justify-content-end py-3 fw-bold" style="position:absolute;bottom:0;left:0;z-index:2;background: url(/images/our-project-gradient.png)center bottom no-repeat; background-size: 100%;">
				@Model.OurProjectEngineeringImageRightTitle
			</div>
		</div>
	</div>
</div>

<div class="container container-campus-overview my-5" data-aos="fade-up">
	<h3 class="text-green text-center">@Model.OurProjectCampusImageTitle</h3>
	<div class="image-list d-flex justify-content-between align-items-end flex-wrap">
	    @{
	        var mediaCampus1 = Model.Value<MediaWithCrops>("ourProjectCampusImage1");
	        var mediaCampus2 = Model.Value<MediaWithCrops>("ourProjectCampusImage2");
	        var mediaCampus3 = Model.Value<MediaWithCrops>("ourProjectCampusImage3");
	        var mediaCampus4 = Model.Value<MediaWithCrops>("ourProjectCampusImage4");
	        var mediaCampusBottom = Model.Value<MediaWithCrops>("ourProjectCampusImageBottom");
	    }
		<img src="@mediaCampus1.MediaUrl()" width="49%" style="margin: 1rem 0" alt="">
		<img src="@mediaCampus2.MediaUrl()" width="49%" style="margin: 1rem 0" alt="">
		<img src="@mediaCampus3.MediaUrl()" width="49%" style="margin: 1rem 0" alt="">
		<img src="@mediaCampus4.MediaUrl()" width="49%" style="margin: 1rem 0" alt="">
	</div>
	<div class="image-main mt-2">
		<img width="100%" height="52%" src="@mediaCampusBottom.MediaUrl()" alt="">
	</div>
</div>

<div class="container-site-activities bg-gray my-5 p-3" data-aos="fade-up">
	<div class="container">
		<h3 class="text-green text-center">@Model.OurProjectSiteActivitiesTitle</h3>
		<div class="site-wrapper">
		    @if (Model.OurProjectSiteActivitiesImage != null)
			{
			    foreach (var item in Model.OurProjectSiteActivitiesImage)
			    {
			        var mediaImage = item.Value<MediaWithCrops>("SiteActivitiesImage");
					<div class="gambar" style="" >
			        	<img src="@mediaImage.MediaUrl()" alt="">
					</div>
			    }
			}
		</div>
	</div>
</div>

<div class="container-prpp-funfact" data-aos="fade-up" style="padding: 32px 16px; background-color: #0070B8; "> 
    @{
        var mediaBannerBottom = Model.Value<MediaWithCrops>("OurProjectBannerBottomImage");
    }
	<img src="@mediaBannerBottom.MediaUrl()" width="100%" alt="">
</div>
