@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ReportItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<div class="container-artikel container">
	<div class="container-breadcrumb">
		<a href="/"><img src="/images/vector-home.svg" class="breadcrumb-home"></a>
		@* <div class="batas-breadcrumb"><i class="fa-solid fa-chevron-right"></i></div>
			<a href="@Model.Parent.Url()" class="previous-breadcrumb">@Model.Parent.Name</a> *@
		<div class="batas-breadcrumb"><i class="fa-solid fa-chevron-right"></i></div>
		<a href="@Model.Url()" class="currentpage-breadcrumb">@Model.NewsTitle</a>
	</div>

	<div class="container-berita">
		@if (Model.Parent != null)
		{
			<div class="artikel-jenis">@Model.Parent.Name</div>
		}
		<div class="artikel-published">Published: @Model.NewsPostDate.Day - @Model.NewsPostDate.Month -
			@Model.NewsPostDate.Year
		</div>
		<div class="artikel-main">
			<div class="artikel-header">
				<h1>@Model.NewsTitle</h1>
				<div class="gambar">
					@if (Model.NewsImage != null)
					{
						<img src="@Model.NewsImage.Url()" alt="@Model.NewsTitle">
					}
				</div>
			</div>
			<div class="artikel-konten">
				<p>@Model.NewsRichTextContent</p>
			</div>
		</div>
	</div>

	@{
		var modelUrl = @Model.Url().TrimStart("/");
	}

	<div class="artikel-share">
		<h5>Share</h5>
		<div class="share-medsos">
			<div class="share-icon linkedin">
				<a target="_blank"
					href="https://www.linkedin.com/sharing/share-offsite/?url=prpp.pertamina.com/@modelUrl"><i
						class="fa-brands fa-linkedin"></i></a>
			</div>
			<div class="share-icon facebook">
				<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=prpp.pertamina.com/@modelUrl"><i
						class="fa-brands fa-facebook"></i></a>
			</div>
			<div class="share-icon twitter">
				<a target="_blank" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
					data-show-count="false"><i class="fa-brands fa-twitter"></i></a>
				<!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
			</div>
			<div class="share-icon whatsapp">
				<a target="_blank" href="https://web.whatsapp.com/send?text=prpp.pertamina.com/@modelUrl"><i
						class="fa-brands fa-whatsapp"></i></a>
			</div>
			<div class="share-icon message">
				<a target="_blank"
					href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=Share Website&body=prpp.pertamina.com/@modelUrl&ui=2&tf=1&pli=1"><i
						class="fa-regular fa-envelope"></i></a>
			</div>
		</div>
	</div>
</div>

@Html.Partial("~/Views/Partials/listLaporan.cshtml")