@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SustainableBusinessPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<div class="tentang-jumbotron">
	<img src="@Model.HeroBackgroundImage.Url()" class="blueprint">

	<div class="container-fluid content">
		<h1>@Model.HeroTitle</h1>
		<h2>@Model.HeroSubtitle</h2>
	</div>
</div>
<div class="bisnis-navbar">
	<div class="container bisnis-navbar-list">

		@Html.Partial("~/Views/Partials/navbarResponsibility.cshtml")
		<div class="bisnis-navbar-arrowdown" id="bisnis-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>

<div class="container sustainable-container rich-text-content">
	<h4>@Model.SustainableBusinessContentTitleHijau</h4>
	<p>@Model.SustainableBusinessContent</p>
</div>

<div class="container sustainable-business-image">
	<h3>@Model.SustainableBusinessImageTitle</h3>
	<img src="@Model.SustainableBusinessImage.Url()">
</div>

<div class="container px-2 sustainable-sub-content sustainable-sub-content-1 rich-text-content">
	<img src="@Model.SubContent1Image.Url()">
	<h3>@Model.SubContent1Title</h3>

	<p>@Model.SubContent1</p>
</div>

<div class="container px-2 sustainable-sub-content sustainable-sub-content-2 rich-text-content">
	<img src="@Model.SubContent2Image.Url()">
	<h3>@Model.SubContent2Title</h3>

	<p>@Model.SubContent2</p>
</div>