@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SustainableBusinessPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<div class="tentang-jumbotron">
	<img src="@Model.HeroBackgroundImage.Url()" class="blueprint">
	<img src="/images/pertamina-warnawarni.png" class="pertamina-warnawarni">
	<div class="container-fluid content">
		<h1>@Model.HeroTitle</h1>
		<h2>@Model.HeroSubtitle</h2>
	</div>
</div>
<div class="bisnis-navbar">
	<div class="container bisnis-navbar-list">

		@Html.Partial("~/Views/Partials/navbarResponsibility.cshtml")
		<div class="bisnis-navbar-arrowdown" id="bisnis-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>

<div class="container sustainable-container rich-text-content">
    @Model.SustainableBusinessContent
</div>