@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.VisionMissionPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<div class="tentang-jumbotron">
	<img src="@Model.HeroBackgroundImage.Url()" class="blueprint">
	
	<div class="container-fluid content">
		<h1>@Model.HeroTitle</h1>
		<h2>@Model.HeroSubtitle</h2>
	</div>
</div>
<div class="tentang-navbar">
	<div class="container tentang-navbar-list">

		@Html.Partial("~/Views/Partials/navbarAbout.cshtml")
		<div class="tentang-navbar-arrowdown" id="tentang-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>

<div class="visimisi-wrapper">
		<div class="visimisi container" data-aos="fade-up">
			<div class="visi">
				<div class="visimisi-title">
					<h2>@Model.VisionTitle</h2>
					<img src="/images/visi-mata.png" alt="visi mata">
				</div>
				<p>@Model.VisionText</p>
			</div>
			<div class="misi">
				<div class="visimisi-title">
					<h2>@Model.MissionTitle</h2>
					<img src="/images/misi-target.png" alt="visi target">
				</div>
				<p>@Model.MissionText</p>
		</div>
	</div>
</div>

<div class="akhlak-logo container">
	<p>@Model.AkhlakDescription a</p>
	<img src="@Model.AkhlakLogo.Url()" alt="logo akhlak">
</div>

<div class="akhlak-list">
	<div class="container">
		@foreach (var item in Model.AkhlakList)
			{
				<div class="akhlak-item">
					<div class="akhlak-kiri">
						<h4>@item.AkhlakTitle</h4>
					</div>
					<div class="akhlak-kanan">
						<p>@item.AkhlakDescription</p>
					</div>
				</div>
			}
		
		
	</div>
</div>