@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.WhoWeArePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="tentang-jumbotron">
	<img src="@Model.HeroBackgroundImage.Url()" class="blueprint">
	
	<div class="container-fluid content">
		<h1>@Model.HeroTitle</h1>
		<h2>@Model.HeroSubtitle</h2>
	</div>
</div>
<div class="tentang-navbar">
	<div class="container tentang-navbar-list">

		@Html.Partial("~/Views/Partials/navbarAbout.cshtml")
		<div class="tentang-navbar-arrowdown" id="tentang-navbar-arrowdown">
			<a class="active">@Model.Name</a>
			<i class="fa-solid fa-chevron-down panah-bawah"></i>
			<i class="fa-solid fa-chevron-up panah-atas"></i>
		</div>
	</div>
</div>

<div class="container whoweare-content rich-text-content">
	@Model.WhoweareContent
</div>

@*
<div style="background-image: url('@Model.FaseBackgroundImage.Url()')" class="fase-wrapper">
	fakk
</div>
*@

		
	<div style="background-image: url('@Model.FaseBackgroundImage.Url()')" class="fase-wrapper">
		<div class="container">
			<h3>@Model.FaseTitle</h3>
			<img src="@Model.FaseImage.Url()" alt="fase">
			<p>
				@Model.FaseContent
			</p>
		</div>
	</div>